.venv/
.idea/
__pycache__/
build/
dist/
*.spec
*.pyc
*.pyo
*.log
_build/
PyQt-Fluent-Widgets-master/
PyQt-Fluent-Widgets-master.zip
release-assets/MousePointer_Portable_Directory/
release-assets/MousePointer_Portable_Directory.zip
release-assets/SHA256SUMS.txt
