root = true

[*.cs]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion

[*.xaml]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true

