**/[Bb]in/
**/[Oo]bj/
.vs/
artifacts/
AppPackages/
BundleArtifacts/
publish/
*.user
*.suo
*.binlog
*.trx
*.coverage
*.coveragexml
*.nupkg
*.snupkg
*.msix
*.msixupload
*.appx
*.appxbundle
*.appxupload

